<div id="fh5co-offcanvas">
    <a href="#" class="fh5co-close-offcanvas js-fh5co-close-offcanvas">
        <span>
            <i class="fas fa-times"></i> 
            <span>Cerrar</span>
        </span>
    </a>
    <div class="fh5co-bio">
        <figure>
            <img src="https://raw.githubusercontent.com/hdlabconicet/hdlabconicet.github.io/refs/heads/master/_includes/logo-hdcaicyt.svg" style="width: 150px; height: auto;" class="img-responsive">
        </figure>
        <h3 class="heading">Novedades</h3>
        <h2>HD LAB: Laboratorio de Humanidades Digitales del IIBICRIT de CONICET</h2>
        <p>HD LAB es el primer espacio de investigación en Humanidades Digitales en Argentina que combina el modelo organizacional colaborativo de laboratorio para el desarrollo de proyectos de investigación reutilizables para múltiples públicos, dentro y fuera del ámbito de la investigación en la gran area de Humanidades y Ciencias Sociales (CONICET y universidades), proponiendo así un abordaje de las Humanidades desde la tecnología y los principios de la Ciencia Abierta.</p>
        <ul class="fh5co-social">
            <li><a href="https://www.twitter.com/hdlabconicet"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/HDLAB.CONICET"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="https://github.com/hdlabconicet"><i class="fab fa-github"></i></a></li>
        </ul>
    </div>

    <div class="fh5co-menu">
        <nav>
            <a href="/" class="btn btn-secondary">Inicio</a>
        </nav>
        <div class="fh5co-box">
            <h3 class="heading">Últimas novedades</h3>
            <ul>
                {{ range (slice $.Posts 0 2) }}
                    <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
                {{ end }}
            </ul>
        </div>
        <div class="fh5co-box">
            <h3 class="heading">Búsqueda</h3>
            <form action="#">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Escriba una palabra para comenzar la búsqueda">
                </div>
            </form>
        </div>
    </div>
</div>

<!-- END #fh5co-offcanvas -->
<header id="fh5co-header">
    <div class="container-fluid">
        <div class="row">
            <a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle"><i></i></a>
            <ul class="fh5co-social">
                <li><a href="https://www.twitter.com/hdlabconicet"><i class="fab fa-twitter"></i></a></li>
                <li><a href="https://www.facebook.com/HDLAB.CONICET"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://github.com/hdlabconicet"><i class="fab fa-github"></i></a></li>
            </ul>          
            <div class="col-lg-12 col-md-12 text-center">
                <h1 id="fh5co-logo"><a href="index.html">{{ .Title }}</a></h1>
            </div>

        </div>
    </div>
</header>
<!-- END #fh5co-header -->